@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-Regular.otf);
}

@font-face {
    font-family: Montserrat-Light;
    src: url(fonts/Montserrat-Light.otf);
}

@font-face {
    font-family: Montserrat-Hairline;
    src: url(fonts/Montserrat-Hairline.otf);
}

h2.name_title {
  position: absolute;
  margin: 2.29vw;
  font-family: Montserrat;
  vertical-align: middle;
  font-size: 5vw;
  color: #1762a1;
}

/***********************
  OUTLINE BUTTONS
************************/
.btn {
    position: absolute;
    width: 8vw;
    height: 4vw;
    top: 3vw;
}

.btn.outline {
    background: none;
}
.btn-primary.outline {
    border: 2px solid #0099cc;
    color: #1762a1;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
    background: none;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

.btn-header {
  font-size: 0.8vw;
	font-family: Montserrat-Light;
	color: #1762a1;
  vertical-align: middle;
}

.btn-resume {
    right: 1vw;
}

.btn-github {
    right: 10vw;
}

.btn-linkedin {
    right: 19vw;
}

.btn-email {
    right: 28vw;
}


.container-header {
  position: fixed;
  background-color: #C0C0C0;
  height: 10vw;
  width: 100vw;
  border-bottom: 4px #0099cc solid;
  z-index: 4;
}

.container-content {
  z-index: 1;
}

.container-me {
  top: 15vw;
}

.container-exp {
  top: 18vw;
}

.container-proj {
  top: 23vw;
}

.container-class {
  top: 28vw;
}

.container-p {
  font-family: Montserrat-Light;
  color: #141823;
  font-size: 2vw;
}

p {
  font-family: Montserrat-Light;
  color: #141823;
  font-size: 1vw;
}

.section-header {
  font-size: 4vw;
  font-family: Montserrat;
  color: #1762a1;
  border-bottom: 4px #0099cc solid;
  z-index: 2;
  margin-top: 12vw;
}

img {
  border-radius: 10vw;
  width: 15vw;
  height: 15vw;
}

figcaption {
   text-align: center;
   opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
     -moz-transition: opacity 0.3s ease-out;
      -ms-transition: opacity 0.3s ease-out;
       -o-transition: opacity 0.3s ease-out;
          transition: opacity 0.3s ease-out;
    color: white;
    background-color: black;
    border-radius: 0.25vw;
    z-index: 3;
    font-family: Montserrat-Light;
}

figure {
  z-index: 3;
  width: 15vw;
  height: 15vw;
}

figure:hover figcaption {
   opacity: 0.85;
}

table {
  z-index: 1;
  border-collapse: separate;
  border-spacing: 2vw;
}

td {
  z-index: 1;
  text-align: center;
  width: 15vw;
  height: 15vw;
}

.table-4 {
  margin-left: 5.4vw;
}

.table-3 {
  margin-left: 13.9vw;
}

.table-2 {
  margin-left: 22.4vw;
}

.classDivBlue {
  width: 15vw;
  height: 15vw;
  background: #0099cc;
  border-radius: 10vw;
  text-align: center;
  display: table;
  margin: auto;
}

.classDivGrey {
  width: 15vw;
  height: 15vw;
  background: #C0C0C0;
  border-radius: 10vw;
  text-align: center;
  display: table;
  margin: auto;
}

.classHeader {
  margin: auto;
  vertical-align: middle;
  font-size: 1.5vw;
  color: white;
  font-family: Montserrat-Light;
  display: table-cell;
}
