@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Regular.otf);
}

@font-face {
    font-family: Montserrat-Light;
    src: url(Montserrat-Light.otf);
}

@font-face {
    font-family: Montserrat-Hairline;
    src: url(Montserrat-Hairline.otf);
}

h2.name_title {
  position: absolute;
  vertical-align:middle;
  font-family: Montserrat;
  font-size: 5vw;
  color: #1762a1;
}

/***********************
  OUTLINE BUTTONS
************************/
.btn {
    position: absolute;
    width: 8vw;
    height: 4vw;
    top: 3vw;
}

.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 2px solid #0099cc;
    color: #0099cc;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

.btn-header {
	position: absolute;
  font-size: 1vw;
	font-family: Montserrat-Hairline;
	color: #1762a1;
  vertical-align: middle;
}

.btn-resume {
    right: 1vw;
}

.btn-github {
    right: 10vw;
}

.btn-linkedin {
    right: 19vw;
}

.btn-email {
    right: 28vw;
}


.container-header {
  position: fixed;
  background-color: #C0C0C0;
  height: 10vw;
  width: 100vw;
  border-bottom: 4px #0099cc solid;
  z-index: 3;
}

.container-content {
  position: relative;
}

.container-me {
  top: 10vw;
}

.container-exp {
  top: 18vw;
}

.container-proj {
  top: 23vw;
}

.container-p {
  font-family: Montserrat-Light;
  color: #141823;
  font-size: 2vw;
}

.section-header {
  font-size: 4vw;
  font-family: Montserrat;
  color: #1762a1;
  border-bottom: 4px #0099cc solid;
}

img {
  border-radius: 10vw;
  width: 15vw;
  height: 15vw;
}

figcaption {
   text-align: center;
   opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
     -moz-transition: opacity 0.3s ease-out;
      -ms-transition: opacity 0.3s ease-out;
       -o-transition: opacity 0.3s ease-out;
          transition: opacity 0.3s ease-out;
}

figure {
  width: 15vw;
  height: 15vw;
}

figure:hover figcaption {
   opacity: 0.9;
}

figcaption {
  background-color: black;
  z-index: 2;
}

table {
  border-collapse: separate;
  border-spacing: 2vw;
}

td {
  text-align: center;
  width: 15vw;
  height: 15vw;
}

.table-5 {
  margin-left: -3.1vw;
}

.table-3 {
  margin-left: 13.9vw;
}

.table-2 {
  margin-left: 22.4vw;
}
